<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
</head>

<body id="area-body-home">
  <%- include("../partials/header")%>

    <main>
      <div class="col-md-10 mx-auto m-0">
        <div class="carousel-item active">
          <img src="https://themes.kabum.com.br/conteudo/layout/2739/banner_img.jpg" class="d-block w-100"
            alt="PC GAMER">
          <!-- <div class="carousel-caption d-none d-md-block">
            <a href="/produtos/lista" class="main-btn">Ver produtos</a>
          </div> -->
        </div>
      </div>
      <h4 id="title-home" class="col-md-10 mx-auto m-0">TECH SEASON</h4>
      <section class="col-md-10 mx-auto m-0" id="area-home">
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0 p-auto">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <% products.forEach(product=> { %>
                <div class="col mb-2" style="min-width:230px;max-width:230px;">
                  <div id="area-card-produtos" class="card">
                    <a href="/produtos/<%= product.id %>/detalhes">
                      <img id="img-card" src="<%= product.image %>" class="img" alt="..."></a>
                    <div class="card-body">
                      <div id="card-text">
                        <p id="text-card" class="card-text">
                          <%= product.title %>
                        </p>
                      </div>
                      <br>
                      <div>
                        <h5 id="card-value" class="card-title">
                          <span>R$
                            <%= product.value %>
                          </span>
                        </h5>
                      </div>
                      <div>
                        <a href="/produtos/<%= product.id %>/adicionar/carrinho" class="btn btn-primary">Comprar</a>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </section>
        <br>
        <div id="about-area">
          <div class="container">
            <div class="row">
              <div class="col-md-12 mx-auto m-0">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://themes.kabum.com.br/conteudo/ads/splashline/741.jpg" class="d-block w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://themes.kabum.com.br/conteudo/ads/splashline/771.jpg" class="d-block w-100"
                        alt="...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h4 id="area-title2"><i class="fas fa-star"></i> DESTAQUE NINJA</h4>
        <!-- <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
            </div>
          </div>
        </section> -->
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="carousel-item active">
            <img src="https://themes.kabum.com.br/conteudo/ads/splashline/841.jpg" class="d-block w-100" alt="PC GAMER"
              width="32%">
            <!-- <div class="carousel-caption d-none d-md-block">
              <a href="produtos/lista" class="main-btn">Ver produtos</a>
            </div> -->
          </div>
        </section>
        <br>
        <h4 id="area-title2"><i class="fas fa-chess-board"></i> DEPARTAMENTOS</h4>
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">HARDWARE</h5>
                  <a href="/produtos/categoria/1">
                    <img src="https://static.kabum.com.br/conteudo/categorias/HARDWARE_1648493892.png" class="col mb-2"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">PERIFÉRICOS</h5>
                  <a href="/produtos/categoria/2">
                    <img src="https://static.kabum.com.br/conteudo/categorias/PERIFERICOS.png" class="col mb-2"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">GAMES</h5>
                  <a href="/produtos/categoria/3">
                    <img src="https://static.kabum.com.br/conteudo/categorias/GAMER.png" class="col mb-2" alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">COMPUTADORES</h5>
                  <a href="/produtos/categoria/4">
                    <img src="https://static.kabum.com.br/conteudo/categorias/COMPUTADORES.png" class="col mb-2"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">TV</h5>
                  <a href="/produtos/categoria/5">
                    <img src="https://static.kabum.com.br/conteudo/categorias/TV_1645045665.png" class="col mb-2"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">CELULARES</h5>
                  <a href="/produtos/categoria/6">
                    <img src="https://static.kabum.com.br/conteudo/categorias/CELULAR-SMARTPHONE_1645045581.png"
                      class="col mb-2" alt="...">
                  </a>
                </div>
              </div>
        </section>
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">AUTOMOTIVO</h5>
                  <a href="/produtos/categoria/7">
                    <img src="https://static.kabum.com.br/conteudo/categorias/AUTOMOTIVO.png" class="col mb-2"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">CAMERAS E DRONES</h5>
                  <a href="/produtos/categoria/8">
                    <img src="https://static.kabum.com.br/conteudo/categorias/CAMERAS-E-DRONES_1659439533.png"
                      class="col mb-2" alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">ESPAÇO GAMER</h5>
                  <a href="/produtos/categoria/9">
                    <img src="https://static.kabum.com.br/conteudo/categorias/ESPACO-GAMER_1658426219.png"
                      class="col mb-2" alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">PROJETORES</h5>
                  <a href="/produtos/categoria/10">
                    <img src="https://static.kabum.com.br/conteudo/categorias/PROJETORES.png" class="col mb-2"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">ÁUDIO</h5>
                  <a href="/produtos/categoria/11">
                    <img src="https://static.kabum.com.br/conteudo/categorias/AUDIO.png" class="col mb-2" alt="...">
                  </a>
                </div>
              </div>
              <div class="col mb-2" style="min-width:230px;max-width:230px;">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">ENERGIA</h5>
                  <a href="/produtos/categoria/12">
                    <img src="https://static.kabum.com.br/conteudo/categorias/ENERGIA_1659439713.png" class="col mb-2"
                      alt="...">
                  </a>
                </div>
              </div>
        </section>
        <br>
        <!-- <h4 id="area-title2"><i class="fas fa-star"></i> MAIS VENDIDOS</h4>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">

            </div>
            <br>
        </section>
        <br>
        <h4 id="area-title2"><i class="fas fa-star"></i> O QUE OUTROS CLIENTES ESTÃO COMPRANDO</h4>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">

            </div>
        </section>
        <br> -->
        <div id="card-finish" class="col-md-12">
          <img src="https://themes.kabum.com.br/conteudo/ads/banner_footer/1627587927.jpg" class="rounded float-start"
            alt="..." width="32%">
          <img src="https://themes.kabum.com.br/conteudo/ads/banner_footer/1631200350.png" class="rounded float-end"
            alt="..." width="32%">
          <img src="https://themes.kabum.com.br/conteudo/ads/banner_footer/1659549722.jpg" class="rounded float-start"
            alt="..." width="32%">
        </div>
        <br>
      </section>
      <br>
      </section>
    </main>
    <%- include('../partials/footer') %>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>